nav {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-evenly;
  padding: 1em;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav a {
  text-decoration: none;
  background-color: #4b00ff;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.5s all;
  font-size: 1.5em;
}
nav a:hover {
  background-color: #5f36be;
  transition: 0.5s;
}
.animal-list {
  background-color: #a11c1c;
  color: #fff;
  padding-top: 20px;
  width: fit-content;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
  padding: 16px 20px;
  text-align: left;
  font-size: 1.2rem;
}

.count-down {
  background-color: #a3dbe8;
  border: 8px solid #4b00ff;
  padding: 40px 60px;
  font-size: 4rem;
  color: hotpink;
  text-align: center;
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(75, 0, 255, 0.5);
}
.low {
  color: red;
}

.mouse-position {
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.mouse-position p {
  font-size: 24px;
}
